@font-face {
  font-family: 'EliceDigitalBaeum_Bold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_220508@1.0/EliceDigitalBaeum_Bold.woff2')
    format('woff2');
  font-weight: 700;
  font-style: normal;
}
* {
  box-sizing: border-box;
  font-family: 'EliceDigitalBaeum_Bold';
}

html,
body {
  margin: 0;
  background-color: black;
}

.container {
  width: 80%;
  min-width: 350px;
  max-width: 640px;
  padding: 5px 0 15px;
  margin: 100px auto;
  border: 2px solid white;
  text-align: center;
  border-radius: 16px;
}

h1 {
  color: red;
}
h2 {
  color: white;
}

h1 > span {
  display: inline-block;
  width: 40px;
}

button {
  color: darkslategray;
  background-color: lightgray;
  font-size: 16px;
  padding: 6px;
  width: 100px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

button:active {
  color: lightgray;
  background-color: darkslategray;
}
