* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  background-color: black;
}

.container {
  width: 80%;
  min-width: 350px;
  max-width: 640px;
  padding: 5px 0 15px;
  margin: 15px auto;
  border: 2px solid white;
  text-align: center;
  border-radius: 16px;
}

h1 {
  color: red;
}
h2 {
  color: white;
}

h1 > span {
  display: inline-block;
  width: 40px;
}

button {
  color: darkslategray;
  background-color: lightgray;
  font-size: 16px;
  padding: 6px;
  width: 100px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

button:active {
  color: lightgray;
  background-color: darkslategray;
}
